<button class="button submitBtn" type="button" {{on "click" @onClick}} disabled={{@isLoading}} isLoadin={{@isLoading}}>
  {{#if @isLoading}} 
    <span class="loader"></span>
  {{/if}}
  
  {{yield}}
</button>